<div class="container-fluid py-2">
<h3 class="m-0">Angular Reactive Form Validation</h3>

<div class="row">
  <div class="col-4">
    <form [formGroup]="reactiveForm" #form="ngForm">
      <div class="row">
        <div class="col">
          <label for="name" class="form-label">First Name:</label>
          <input type="text" id="name" name="name" formControlName="name" placeholder="Your name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors?.['required']">
              First is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              First must have at least 1 character.
            </div>
            <div *ngIf="name.errors?.['maxlength']">
              First must have at most 250 characters.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="lastname" class="form-label">Last Name:</label>
          <input type="text" id="lastname" name="name" formControlName="name" placeholder="Your name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors?.['required']">
              Last Name is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              Last Name must have at least 1 character.
            </div>
            <div *ngIf="name.errors?.['maxlength']">
              Last Name must have at most 250 characters.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" formControlName="email" placeholder="your-name@provider.com" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="email.errors?.['minlength']">
              Email must have at least 1 character.
            </div>
            <div *ngIf="email.errors?.['maxlength']">
              Email must have at most 250 characters.
            </div>
            <div *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']">
             Email Invalid format.
            </div>
          </div>
        </div>
      </div>

   <div class="row">
        <div class="col">
          <label for="number" class="form-label">Number</label>
          <input type="number" id="number" name="name" formControlName="name" placeholder="Your name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors?.['required']">
              number is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              number must have at least 1 character.
            </div>
            <div *ngIf="name.errors?.['maxlength']">
              number must have at most 250 characters.
            </div>
          </div>
        </div>
      </div>
   <div class="row">
        <div class="col">
          <label for="company" class="form-label">Company</label>
          <input type="text" id="company" name="company" formControlName="company" placeholder="Your name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="company.invalid && (company.dirty || company.touched)">
          <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
            <div *ngIf="company.errors?.['required']">
              Company is required.
            </div>
            <div *ngIf="company.errors?.['minlength']">
              this field must have at least 1 character.
            </div>
            <div *ngIf="company.errors?.['maxlength']">
              this field have at most 250 characters.
            </div>
          </div>
        </div>
      </div>



   <div class="row">
        <div class="col">
          <label for="gender" class="form-label"style="margin-right: 12px;">Gender</label>
            <input type="radio" id="gender"style="margin-right: 3px;" name="gender" formControlName="gender" value="male"[class.is-invalid]="gender.invalid && (gender.dirty || gender.touched)"> Male &nbsp;&nbsp;
  <input type="radio" id="mgender"style="margin-right: 3px;" name="gender" formControlName="gender" value="female"[class.is-invalid]="gender.invalid && (gender.dirty || gender.touched)"> Female

          <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="invalid-feedback">
            <div *ngIf="gender.errors?.['required']">
              gender is required.
            </div>

          </div>
        </div>
      </div>


   <div class="row">
        <div class="col">
          <label for="datefield" class="form-label">date</label>
          <input type="date" id="datefield" name="datefield" formControlName="datefield" required class="form-control form-control-sm" [class.is-invalid]="datefield.invalid && (datefield.dirty || datefield.touched)">
          <div *ngIf="datefield.invalid && (datefield.dirty || datefield.touched)" class="invalid-feedback">
            <div *ngIf="datefield.errors?.['required']">
              Date is required.
            </div>

          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <label for="password" class="form-label">Password:</label>
          <div class="input-group input-group-sm has-validation">
            <input [type]="user.password ? 'text' : 'password'" id="password" name="password" formControlName="password" required minlength="15" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="password.errors?.['minlength']">
                This field must have at least 15 characters.
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <div class="input-group input-group-sm has-validation">
            <input [type]="user.password ? 'text' : 'password'" id="cpassword" name="password" formControlName="password" required minlength="15" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="password.errors?.['minlength']">
                This field must have at least 15 characters.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col d-grid">
          <button type="button" class="btn btn-sm btn-primary" (click)="validate()">{{buttontxt}}</button>
        </div>
        <div class="col d-grid">
          <button type="button" class="btn btn-sm btn-primary" (click)="reset()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-6">
    <table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">Sr no</th> -->
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Company</th>
         <th scope="col">DOB</th>
            <th scope="col">Edit</th>
               <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userss">
      <!-- <th scope="row">{{item.id}}</th> -->
      <td>{{item.firstname}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.company}}</td>
      <td>{{item.dob}}</td>
      <td><button  class="btn btn-success"(click)="Edit(item.id)">Edit</button></td><td><button class="btn btn-danger"(click)="delet(item.id)">Delete</button></td>
    </tr>
   
  </tbody>
</table>

  </div>
</div>
</div>
